@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");
/* font-family: 'Courier Prime', monospace; */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
/* font-family: 'Bungee Shade', cursive; */

.homePage {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Homepage */
h1 {
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-bottom: 50px;
  font-family: "Courier Prime", monospace;
  font-weight: 700;
}

button {
  color: white;
  border: none;
  background-color: #041933;
  font-size: 35px;
  font-family: "Courier Prime", monospace;
}

button:hover {
  text-decoration: underline;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;
  gap: 20px;
}

/* rules */
.rules {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 200px;
}

.rules button {
  color: white;
  border: none;
  background-color: #041933;
  font-size: 35px;
}

.gameRules {
  background-color: beige;
}

.dead {
  font-family: 'Bungee Shade', cursive;
}

/* players */

/* .playert-select{
  display: flex;
  flex-direction: row;
  max-width: 30%;
  min-width: 50%;
} */

.opponentSelection{
  width:all;
  height: all;
  background-color: rgb(230, 221, 221);
}

.fightPage {
  background-image: url(../images/fight-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}